.anArtist{
    margin: 3.5rem;
}

.blurb{
    height: 175px;
    width: 90%;
}

.icon{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.firstImg{
    display: flex;
}

.secondImg{
    display: flex;
    justify-content: end;
}

.contactCol{
    margin-top: 3rem;
    margin-bottom: 3rem;
}


@media screen and (max-width: 576px) {
    .firstImg{
        justify-content: center;
    }
    .secondImg{
        justify-content: center;
    }
    .header{
        text-align: center;
    }
    .blurb{
        height: auto;
        width: 130%;
        margin-left: -15%;
        text-align: center;
    }
    .contactCol{
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
    .artistImg{
        width: 350px;
        height: 340px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .firstImg{
        justify-content: center;
    }
    .secondImg{
        justify-content: center;
    }
    .header{
        text-align: center;
    }
    .blurb{
        height: auto;
        width: 110%;
        margin-left: -5%;
        text-align: center;
    }
    .contactCol{
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
    .artistImg{
        width: 350px;
        height: 340px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .firstImg{
        justify-content: center;
    }
    .secondImg{
        justify-content: center;
    }

    .header{
        text-align: center;
    }
    .blurb{
        height: auto;
        width: 110%;
        margin-left: -5%;
        text-align: center;
    }
    .contactCol{
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .artistImg{
        width: 400px;
        height: 375px;
    }
    .blurb{
        width: 100%;
    }
    .firstImg .artistImg{
        margin-left: -20px;
    }

    .secondImg .artistImg{
        margin-right: -20px;
    }

    .contactCol{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}