#studio {
    text-align: center;
}

.mainTxt {
    font-weight: normal;
}

.rightAlign {
    text-align: end;
}

.leftAlign {
    text-align: start;
}

.studioCarousel {
    display: flex;
    justify-content: center;
    width: 70%;
}

.carouselItem {
    height: 500px;
    width: 100%;
}