@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #FFF7EC;
}

body {
  background-color: #085E6C;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.bgMonkey {
  width: 425px;
  height: 425px;
  position: absolute;
  z-index: -1;
  right: 0;
}

.bgWaves {
  width: 350px;
  height: auto;
  position: absolute;
  display: flex;
  z-index: -1;
  bottom: 0;
  opacity: 0.6;
  align-content: end;
}

.title {
  text-align: center;
}

.header {
  font-family: "Playfair Display SC", serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFECD1;
}

#home,
#admin,
#aftercare,
#appointments,
#artists,
#events,
#studio {
  min-height: 90vh;
}

.tour{
  margin-top: -1.5rem;
  display: flex;
  justify-content: center;
}

.full-bq {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  max-width: 540px;
  min-width: 326px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
}

.full-link {
  background: #FFFFFF;
  line-height: 0;
  padding: 0 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.p-16px {
  padding: 16px;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.insta-misc-1 {
  background-color: #F4F4F4;
  border-radius: 50%;
  flex-grow: 0;
  height: 40px;
  margin-right: 14px;
  width: 40px;
}

.flex-col-grow-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.insta-misc-2 {
  background-color: #F4F4F4;
  border-radius: 4px;
  flex-grow: 0;
  height: 14px;
  margin-bottom: 6px;
  width: 100px;
}

.insta-misc-3 {
  background-color: #F4F4F4;
  border-radius: 4px;
  flex-grow: 0;
  height: 14px;
  width: 60px;
}

.p-19 {
  padding: 19% 0;
}

.block-spacing {
  display: block;
  height: 50px;
  margin: 0 auto 12px;
  width: 50px;
}

.pt-8px {
  padding-top: 8px;
}

.insta-btn {
  color: #3897f0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: 18px;
}

.p-125 {
  padding: 12.5% 0;
}

.flex-row-14-center {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  align-items: center;
}

.transf-1 {
  background-color: #F4F4F4;
  border-radius: 50%;
  height: 12.5px;
  width: 12.5px;
  transform: translateX(0px) translateY(7px);
}

.transf-2 {
  background-color: #F4F4F4;
  height: 12.5px;
  transform: rotate(-45deg) translateX(3px) translateY(1px);
  width: 12.5px;
  flex-grow: 0;
  margin-right: 14px;
  margin-left: 2px;
}

.transf-3 {
  background-color: #F4F4F4;
  border-radius: 50%;
  height: 12.5px;
  width: 12.5px;
  transform: translateX(9px) translateY(-18px);
}

.ml-8px {
  margin-left: 8px;
}

.insta-misc-4 {
  background-color: #F4F4F4;
  border-radius: 50%;
  flex-grow: 0;
  height: 20px;
  width: 20px;
}

.transf-4 {
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-left: 6px solid #f4f4f4;
  border-bottom: 2px solid transparent;
  transform: translateX(16px) translateY(-4px) rotate(30deg)
}

.ml-auto {
  margin-left: auto;
}

.transf-5 {
  width: 0px;
  border-top: 8px solid #F4F4F4;
  border-right: 8px solid transparent;
  transform: translateY(16px);
}

.transf-6 {
  background-color: #F4F4F4;
  flex-grow: 0;
  height: 12px;
  width: 16px;
  transform: translateY(-4px);
}

.transf-7 {
  width: 0;
  height: 0;
  border-top: 8px solid #F4F4F4;
  border-left: 8px solid transparent;
  transform: translateY(-4px) translateX(8px);
}

.flex-col-grow-center-mb-24px {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 24px;
}

.insta-misc-5 {
  background-color: #F4F4F4;
  border-radius: 4px;
  flex-grow: 0;
  height: 14px;
  margin-bottom: 6px;
  width: 224px;
}

.insta-misc-6 {
  background-color: #F4F4F4;
  border-radius: 4px;
  flex-grow: 0;
  height: 14px;
  width: 144px;
}

.insta-p {
  color: #c9c8cd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  padding: 8px 0 7px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.insta-a2 {
  color: #c9c8cd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
}

.indv-post {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  max-width: 540px;
  min-width: 326px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
}