.main {
    min-height: 100vh;
    position: relative;
}

.bgMonkey {
    width: 425px;
    height: 425px;
    position: absolute;
    z-index: -1;
    right: 0;
}

.bgWaves {
    width: 350px;
    height: auto;
    position: absolute;
    display: flex;
    z-index: -1;
    bottom: 0;
    opacity: 0.6;
    align-content: end;
}