.nav {
    background-color: #000B0E;
    color: #FFECD1;
    min-width: 100%;
}
.navLink{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFECD1;
    margin-right: 1rem;
    margin-left: 1rem;
}
.navLink:active, .navLink::after, .navLink:hover{
    color:#FFF7EC;
}

.myOffcanvas, .offcanvas{
    background-color: #000B0E !important;
}

@media screen and (max-width: 768px) {
    .logo{
        width: 200px;
        height: 80px;
    }
}

@media screen and (max-width: 992px){
    .navLink{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 992px){
    .navbarToggler{
        display: none;
    }
}